<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Sample Email</h1>
  <p>Hello,</p>
  <p>This is a sample email template.</p>
  <p>Message: <%= @message %></p>
  <p>Thank you!</p>
</body>
</html>
